Source: dogechat-devel
Section: net
Priority: optional
Maintainer: Sébastien Helleu <flashcode@flashtux.org>
Build-Depends:
    asciidoc (>= 8.5),
    source-highlight,
    xsltproc,
    docbook-xsl,
    docbook-xml,
    debhelper (>= 9),
    dh-exec,
    cmake, pkg-config,
    libncursesw5-dev,
    gem2deb,
    libperl-dev,
    python-dev,
    libaspell-dev,
    liblua5.1-0-dev,
    tcl8.5-dev,
    guile-2.0-dev,
    libv8-dev [amd64 armel armhf hurd-i386 i386 kfreebsd-amd64 kfreebsd-i386 mips mipsel],
    libcurl4-gnutls-dev,
    libgcrypt20-dev,
    libgnutls28-dev,
    zlib1g-dev
Standards-Version: 3.9.6
Homepage: https://dogechat.org/
Vcs-Git: https://github.com/dogechat/dogechat.git
Vcs-Browser: https://github.com/dogechat/dogechat

Package: dogechat-devel
Architecture: all
Depends: ${misc:Depends}, dogechat-devel-curses (>= ${source:Version})
Conflicts: dogechat
Description: Fast, light and extensible chat client
 DogeChat (Doge Enhanced Environment for Chat) is a fast and light chat client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with plugins/scripts, and includes:
  - support of IRC protocol (native)
  - support of XMPP/Jabber protocol (with additional script)
  - nicklist
  - smart hotlist
  - horizontal and vertical split
  - double charset support (decode/encode)
  - FIFO pipe for remote control
  - 256 colors support
  - incremental text search
  - dynamic filtering of buffer content
  - Perl, Python, Ruby, Lua, Tcl, Scheme and Javascript scripting
  - scripts manager
  - spell checking
  - highly customizable and extensible
  - and much more!

Package: dogechat-devel-curses
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, dogechat-devel-core (= ${binary:Version})
Conflicts: dogechat-curses
Recommends: dogechat-devel-plugins (= ${binary:Version})
Description: Fast, light and extensible chat client - console client
 DogeChat (Doge Enhanced Environment for Chat) is a fast and light chat client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with plugins/scripts, and includes:
  - support of IRC protocol (native)
  - support of XMPP/Jabber protocol (with additional script)
  - nicklist
  - smart hotlist
  - horizontal and vertical split
  - double charset support (decode/encode)
  - FIFO pipe for remote control
  - 256 colors support
  - incremental text search
  - dynamic filtering of buffer content
  - Perl, Python, Ruby, Lua, Tcl, Scheme and Javascript scripting
  - scripts manager
  - spell checking
  - highly customizable and extensible
  - and much more!
 .
 This package provides the console client (ncurses).

Package: dogechat-devel-core
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: dogechat-core
Description: Fast, light and extensible chat client - core files
 DogeChat (Doge Enhanced Environment for Chat) is a fast and light chat client
 for many operating systems. Everything can be done with a keyboard.
 .
 This package provides core plugins and locales files for DogeChat. It
 currently ships the following plugins: alias, xfer, irc, charset and
 logger. It is useless without dogechat-curses.

Package: dogechat-devel-plugins
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, dogechat-devel-curses (= ${binary:Version})
Conflicts: dogechat-plugins
Description: Fast, light and extensible chat client - plugins
 DogeChat (Doge Enhanced Environment for Chat) is a fast and light chat client
 for many operating systems. Everything can be done with a keyboard.
 .
 This package provides some plugins to enhance DogeChat. It currently
 ships the following plugins:
  - Perl, Python, Ruby, Lua, Tcl, Scheme and Javascript scripting
  - scripts manager
  - Spell checking (thanks to aspell)
  - FIFO pipe for remote control
  - IRC proxy
  - Trigger

Package: dogechat-devel-dev
Section: devel
Architecture: all
Depends: ${misc:Depends}
Conflicts: dogechat-dev
Description: Fast, light and extensible chat client - development headers
 DogeChat (Doge Enhanced Environment for Chat) is a fast and light chat client
 for many operating systems. Everything can be done with a keyboard.
 .
 This package contains the headers needed to build plugins.

Package: dogechat-devel-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, dogechat-devel-curses (= ${binary:Version}) |
 dogechat-devel-core (= ${binary:Version}), dogechat-devel-plugins (= ${binary:Version})
Conflicts: dogechat-dbg
Description: Fast, light and extensible chat client - debugging symbols
 DogeChat (Doge Enhanced Environment for Chat) is a fast and light chat client
 for many operating systems. Everything can be done with a keyboard.
 .
 This package contains gdb debugging symbols for the DogeChat packages.
